
<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>{{ page.name }} is operating a {{ page.cuisine }} delivery servivce in Northern Ireland.</title>

<!-- Search Engine -->
<meta name="description" content="{{ page.name }} is operating a {{ page.cuisine }} delivery servivce in Northern Ireland.>
<meta name="image" content="https://yeooo.delivery/images/yeooo-delivery-northern-ireland.png">
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{ page.name }} is operating a {{ page.cuisine }} delivery servivce in Northern Ireland.>
<meta itemprop="description" content="{{ page.name }} is operating a {{ page.cuisine }} delivery servivce in Northern Ireland.>
<meta itemprop="image" content="https://yeooo.delivery/images/yeooo-delivery-northern-ireland.png">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{ page.name }} is operating a {{ page.cuisine }} delivery servivce in Northern Ireland.>
<meta name="og:description" content="{{ page.name }} is operating a {{ page.cuisine }} delivery servivce in Northern Ireland.>
<meta name="og:image" content="https://yeooo.delivery/images/yeooo-delivery-northern-ireland.png">
<meta name="og:url" content="https://yeooo.delivery">
<meta name="og:site_name" content="{{ page.name }} is operating a {{ page.cuisine }} delivery servivce in Northern Ireland.>
<meta name="og:locale" content="en_UK">
<meta name="og:type" content="website">