
<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>Find a {{ page.type }} delivery service in Northern Ireland | Browse the {{page.type}} services that are available on yeooo.delivery and find out if your local has a click and collection service.</title>

<!-- Search Engine -->
<meta name="description" content="Looking for a {{ page.type }} delivery service in Northern Ireland | Browse the {{page.type}} services that are available on yeooo.delivery and find out if your local has a click and collection service..">
<meta name="image" content="https://yeooo.delivery/images/yeooo-delivery-northern-ireland.png">
<!-- Schema.org for Google -->
<meta itemprop="name" content="Looking for a {{ page.type }} delivery service in Northern Ireland | Browse the {{page.type}} services that are available on yeooo.delivery and find out if your local has a click and collection service..">
<meta itemprop="description" content="Looking for a {{ page.type }} delivery service in Northern Ireland | Browse the {{page.type}} services that are available on yeooo.delivery and find out if your local has a click and collection service..">
<meta itemprop="image" content="https://yeooo.delivery/images/yeooo-delivery-northern-ireland.png">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="Looking for a {{ page.type }} delivery service in Northern Ireland | Browse the {{page.type}} services that are available on yeooo.delivery and find out if your local has a click and collection service..">
<meta name="og:description" content="Looking for a {{ page.type }} delivery service in Northern Ireland | Browse the {{page.type}} services that are available on yeooo.delivery and find out if your local has a click and collection service..">
<meta name="og:image" content="https://yeooo.delivery/images/yeooo-delivery-northern-ireland.png">
<meta name="og:url" content="https://yeooo.delivery">
<meta name="og:site_name" content="Looking for a {{ page.type }} delivery service in Northern Ireland | Browse the {{page.type}} services that are available on yeooo.delivery and find out if your local has a click and collection service..">
<meta name="og:locale" content="en_UK">
<meta name="og:type" content="website">