<footer class="fixedFooter text-center">
<div class="microMenu">
<div class="row m-0 p-0">
<div class="col-3 m-0 p-0"><a href="/delivery" class="btn btn-lg active w-100" role="button" aria-pressed="true">🏠</a></div>
<div class="col-3 m-0 p-0"><a href="/search" class="btn btn-lg active w-100" role="button" aria-pressed="true">🔍 </a></div>
<div class="col-3 m-0 p-0"><a href="/notifications" class="btn btn-lg active w-100" role="button" aria-pressed="true">🔔</a></div>
<div class="col-3 m-0 p-0"><a href="/inbox" class="btn btn-lg active w-100" role="button" aria-pressed="true">✉️</a></div>
</div>
</div>


<a class="updateButton" data-toggle="modal" data-target="#submissionForm"><span>Add a {{page.type}} service</span> </a>


</footer>
  

{%include submission/submissionForm.html %}