---
layout: default
type: delivery
---






 
<div class="container-fluid p-0 m-0" style="">




<div class="col m-0 p-0 d-flex text-center align-items-center" style="height: 20vh background: linear-gradient(rgba(190, 34, 216, 0.23), rgba(125, 250, 250, 0.45)); background-repeat: no-repeat; background-size: cover;">

<div class="home-category">
<a class="category" href="/bakery">
<span>Bakery</span>
<span> 🍞</span>
</a>

<a class="category" href="/beer">
<span>Beer</span>
<span>🍺</span>
</a>
    
<a class="category" href="/clothing">
<span>Clothing </span>
<span>👚</span>
</a>
    
<a class="category" href="/coffee">
<span>Coffee</span>
<span>☕ </span>
</a>
    
<a class="category" href="/farming">
<span>Farming </span>
<span>🥔</span>
</a>
    
<a class="category" href="/fruit-and-veg">
<span> Fruit and Veg </span>
<span>🥦</span>
</a>
    
    <a class="category" href="/groceries">
<span>Groceries</span>
<span>🥫</span>
</a>
    
<a class="category" href="/takeout">
<span>Takeout</span>
<span>🥡</span>
</a>
    
<a class="category" href="/ppe">
<span>PPE</span>
<span>😷</span>
</a>
    
<a class="category" href="/pharmacy">
<span>Pharmacy</span>
<span> 👩🏾‍⚕️</span>
</a>
    
<a class="category" href="/resturants">
<span>Resturants</span>
<span>🍴</span>
</a>
    
<a class="category" href="/sports">
<span>Sports Equipment</span>
<span>🤼</span>
</a>
    
<a class="category" href="/sweets">
<span> Sweets</span>
<span>🍬</span>
</a>
    
<a class="category" href="/vegan">
<span>Vegan </span>
<span>🥗 </span>
</a>
    
<a class="category" href="/wine">
<span>Wine</span>
<span>🍷 </span>
</a>

</div>

       {%include servicelist/displayPosts.html %}
</div>
</div>


</div>


</div>

{% if page.url != "/" %}



<style>
    div#serviceList {
    background: #4b2e90 !important;
        margin-top: 20px;
}

  </style>

{% endif %}









