html,
body {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
}



.bg-dark {
  background-color: #01194a !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(245, 248, 252);
  font-family: ibm-plex-sans, sans-serif;
}

.maxWidth {
  max-width: 1666px;
}

.nav-item {
  font-size: 22px;
}

.homeLogo {
  padding-top: 125px;
}

.homeLogo img {
  padding-bottom: 25px;
  width: 200px;
}

.yeoLogo a:hover {
  text-decoration: none;
}

.yeoLogoTwo a:hover {
  text-decoration: none;
}

.yeoLogo {
margin-top: 0px;
    background-repeat: no-repeat;
    margin: 0 !important;
    font-style: italic;
    color: white;
    padding: 1em;
    background: #643e82cf;
    padding-bottom: 70px;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.yeoLogo h1 {
font-family: futura-pt, sans-serif;
    font-style: normal;
    line-height: 1em;
    padding: 0;
    margin: 0;
    font-size: 160px;
    letter-spacing: -12px;
    color: #45a5d4cf;
    font-weight: 600;
    text-shadow: 2px 2px 2px #160f7dad;
    text-align: center;

}

.yeoLogo h2 {
   font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 0em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-left: 44px;
    font-size: 50px;
    color: #092a8cc9;
    text-align: center;
}

.yeoLogo p {
  font-family: ibm-plex-sans, sans-serif;
font-size: 1.5em;
    background: #1d9c62e3;
    margin-left: -55px !important;
    border: 18px solid #247077f2;
    margin-top: 0 !important;
    border-left: 0;
    text-transform: uppercase;
    font-style: normal !important;
    box-shadow: 12px 12px 2px #550b63;
    border-radius: 0;
    border-right: 200px solid #47d07e52;
}

.introText {

font-style: italic;
    color: #fff;
    background: #ac50b7c4;
    font-size: 2.22em;
    padding: 1em 0em 1em 0em;
    text-align: center;
}

.featuredHomeImg {
  height: 100%;
  width: auto;
  background-image: url(../images/ha-leslie-team-belfast.png);
  opacity: 0.5;
  margin-right: -15px; // Remove right gap
  margin-left: -15px; // Remove left gap
  padding-bottom: 62.5%; // ratio is 16:10
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeFeaturedText p {
  font-family: futura-pt, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 36px;
  line-height: 1em;
  padding-top: 50px;
  padding-bottom: 25px;
  max-width: 85%;
  text-align: left;
  color: black;
}

.homeFeaturedText a {
  font-size: 50px;
  padding: 10px 35px;
  margin: 0px 35px 0px 0px;
  border-radius: 0px;
  border: 0px;
}

.policiesFeaturedText p {
  font-family: futura-pt, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 32px;
  line-height: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 85%;
  text-align: left;
  color: black;
}

.shortNav {
  height: 100vh;
}

.shortNav a {
  margin-top: 0.5em;
}

.text-muted {
  color: #ab972a !important;
}

div#policies {
  padding-top: 100px !important;
}

a.btn.btn-primary {
    margin: .5em 1em;
}

button.btn.btn-primary {
  margin: .5em 1em;
}

/* Submit */
.btn-submit {
    text-transform: uppercase;
    padding: 1em;
    margin: 0;
    width: 100%;
    box-shadow: 12px 9px 22px #9600a9;
    text-shadow: 2px 2px 2px #591a8a;
    text-align: left;
    padding-left: 35px;
    font-size: 2em;
    letter-spacing: 8px;
    color: #6024bb;

    padding: 1em;
    background: #1eda5db8;
    border: none;
    border-radius: 0px;
    color: #fff;
    width: 100%
}


.btn-submit:hover {
    background: #28f51ad1;
    color: #fff;
    text-shadow: none;
}

/* Airtable */

iframe.airtable-embed {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 50vh;        /* Viewport-relative units */
    width: 100%;
}

h1.formName {
    display: none !important;
}


/* Jumbotron */
.jumbotron{
margin: 100px 20px 100px 20px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45)), url(https://images.unsplash.com/photo-1532680678473-a16f2cda8e43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white !important;
    height: auto;
}

.page-scroll{
  height:200px;
}

.btn-outline-danger{
  color:white;
  border-color:white;
  border-radius:0px;
  font-weight:100;
  margin-top:20px;
}
.lead{
  font-family:raleway;
  font-weight:100;
  margin-top:-10px;
}

.yeoIntro p {
    font-size: 2.2em;
    background: #1631af;
    box-shadow: -18px 10px 2px #240c4a;
    text-align: center;
}

button.btn.btn-primary.btn-light {
    font-size: 2em;
}

/* buy me a coffee */

.bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{padding: 7px 10px 7px 10px !important;line-height: 35px !important;height:51px !important;min-width:217px !important;text-decoration: none !important;display:inline-flex !important;color:#000000 !important;background-color:#FFFFFF !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 10px 7px 10px !important;font-size: 20px !important;letter-spacing:0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Arial', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#000000 !important;}

.modal-dialog {
    max-width: 100%;
    }

/* nav switch */

.nav {
  background: #a954d28f;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #591f7db3;
    border-radius: 0px;
}

a.nav-item.nav-link {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    border-radius: 0px;
}

a.nav-item.nav-link.disabled {
  background: #246698a8;
  color: #fff;
}

/* areaSwitch */

a.nav-item.nav-link.cuisine {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
  line-height: 2em;
  padding: 2em 0em;
}

/* footer */

.bg-footer {
    bottom: 0;
    background-color: #dfe8f9 !important;
}



@media screen and (max-width: 600px) {

.yeoLogo {
  padding-left: 20px;
  padding-top: 40px;
}

.yeoLogo h1 {
      font-size: 72px;
      letter-spacing: -3px;
}

.yeoLogo h2 {
    font-size: 21px;
    letter-spacing: 1px;
}

.introText {
  font-size:2em;
}

.btn-submit {
    font-size: 14px;
    line-height: 6em;
}

.btnSubmit i {
    padding-right: 8px;
}

button.btn.btn-primary.btn-light {
   font-size: 1.5em;
    letter-spacing: 0px;
    line-height: 2em;
}



.list-group-item {
    width: 100%;
    margin: 1% !important;
}

a.nav-item.nav-link {
    font-size: 1em;
}


.introPage .introTextTwo {
    font-style: italic;
    color: #fff;
    background: #92289ec4;
    font-size: 1em;
    padding: 1em 0em 1em 0em;
    text-align: center;
    box-shadow: none !important;
    margin-top: 40px !important;
}

.introPage .browseText {
    font-size: 1em;
    background: #b962bddb;
    text-align: center;
    box-shadow: none;
    border: none;
}


}



.list-group-item {
  width: 95%;
  margin: 1% !important;
}

@media (min-width: 576px) {
  .list-group-item {
    width: 47%;
    margin: 5px 1.5% !important;
  }
}

@media (min-width: 768px) {
  .list-group-item {
    width: 31.333%;
    margin: 5px 1% !important;
  }
}

@media (min-width: 992px) {
  .list-group-item {
    width: 23%;
    margin: 5px 1% !important;
  }
}

.bgGradient {
    background: rgb(40, 185, 175);
    /* background: linear-gradient(135deg, rgba(65, 44, 208, 0.2), rgba(196, 83, 122, 0.23) 50%, rgba(208, 148, 85, 0.38)); */
    background: linear-gradient(135deg,rgba(236, 236, 236, 0.84),rgba(255, 255, 255, 0.59) 50%,rgba(240, 238, 249, 0.38));
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: auto;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /* height: 55vh; */
}

#experience {
  padding-top: 2.5%;
  padding-bottom: 2.5% !important;
  margin-top: 2.5%;
}

.parallax {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    /* height: 55vh; */
}

#parallax h2 {
  padding-bottom: 0em !important;
}
#parallax .parallax-two {
  background: #ccc6e430;
}

.introPage .yeoLogoTwo {
      background-repeat: no-repeat;
    margin: 0 !important;
    font-style: italic;
    color: white;
    background: #ef19be7d;
    padding-left: 0px;
    height: 100%;
    min-height: 200px;
}

.introPage .yeoLogoTwo h1 {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    line-height: 1.2455em;
    padding: 0;
    margin: 0;
    font-size: 109px;
    letter-spacing: -3px;
    color: #9dcae0cf;
    font-weight: 600;
    text-shadow: 2px 2px 2px #4b0792ad;
    text-align: center;
    margin-left: -62px;
    box-shadow: none !important;
}

.introPage .yeoLogoTwo h2 {
   font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 0em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-left: 44px;
    font-size: 50px;
    color: #092a8cc9;
    text-align: center;

}

.introPage .introTextTwo {
    font-style: italic;
    color: #fff;
    background: #92289ec4;
    font-size: 2em;
    padding: 1em 0em 1em 0em;
    text-align: center;
    box-shadow: none !important;
}

.introPage .browseText {
    font-size: 2.2em;
    background: #b962bddb;
    text-align: center;
    box-shadow: none;
    border: none;
}


