html,
body {
  font-family: futura-pt, Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
  background: #7d5cb2;
  color: #fff;
  animation: fade .5s;
  padding: 0;
  margin: 0;
  background: #5e3c95;
}

/* Generic */
.maxWidth {
  max-width: 1666px;
}
.modal-dialog {
  max-width: 100%;
}
.text-muted {
  color: #ab972a !important;
}
h1.formName {
  display: none !important;
}

/* Default */
.headline {
  font-weight: 900;
 text-shadow: 2px 2px 2px #0604083d;
 background: #3b93ff6b;
 text-transform: uppercase;
 text-align: center;
 margin: 0 auto;
 padding: 1em 2em;
 line-height: 0.8em;
 font-size: 1.1em;
}
/* Navigation */
.navbar-dark .navbar-nav .nav-link {
  color: rgb(245, 248, 252);
  text-transform: lowercase;
}
.nav-item {
  font-size: 22px;
}
.nav {
  background: linear-gradient(rgba(190, 34, 216, 0.23), rgba(125, 250, 250, 0.45)), url(https://images.unsplash.com/photo-1532680678473-a16f2cda8e43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(90deg, #ffcfd5c7 0%, rgba(243, 243, 243, 0.88) 35%, rgba(221, 132, 247, 0.46) 100%);
  height: 120px;
  overflow:hidden;
}

.card-header {
  border: none;
}
a.nav-item.nav-link.cuisine {
  background: linear-gradient(rgba(190, 34, 216, 0.23), rgba(125, 250, 250, 0.45)), url(https://images.unsplash.com/photo-1532680678473-a16f2cda8e43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 19px;
  padding-top: 14px;
  text-transform: lowercase;
  background: #630e9842;
  text-shadow: 2px 2px #000;  
}

a.nav-item.nav-link.cuisine.fruit-and-veg:hover {
  background: #0c541c85;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

a.nav-item.nav-link.cuisine.butchers:hover {
  background: #dc6cc994;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

a.nav-item.nav-link.cuisine.farm-shop:hover {
  background: #a06060a6;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

a.nav-item.nav-link.cuisine.groceries:hover {
  background: #c73535b5;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

a.nav-item.nav-link.cuisine.pre-made-meals:hover {
  background: #c1bdbd75;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

a.nav-item.nav-link.cuisine.milk:hover {
  background: #ffffff6b;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

a.nav-item.nav-link.cuisine.bakery:hover {
  background: #e4e46a7d;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

a.nav-item.nav-link.cuisine.fish:hover {
  background: #fcb1625e;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

a.nav-item.nav-link.cuisine.potatos:hover {
  background: #a52a2a69;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

a.nav-item.nav-link.cuisine.pharmacy:hover {
  background: #0080008c;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

a.nav-item.nav-link.cuisine.coffee:hover {
  background: #e6e6e633;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

a.nav-item.nav-link.cuisine.beer:hover {
  background: #ffa5004d;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}
a.btn.btn-lg.active.w-100 {
  font-size: 40px;
}

.nav {
  background:linear-gradient(90deg, #dae2eb 0%, rgba(243, 243, 243, 0.88) 35%, rgb(218, 226, 235) 100%);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #591f7db3;
  border-radius: 0px;
}

a.nav-item.nav-link {
  font-size: 1.5em;
  text-transform: lowercase;
  font-weight: 900;
  letter-spacing: 2px;
  border-radius: 0px;
}


a.btn.btn-primary.btn-lg.active.w-100.moreinfo-btn {
  text-transform: uppercase;
  font-size: 1em;
  background: #aae8a961;
  border: none;
  box-shadow: none;
  color: #070621;
}

a.nav-item.nav-link.disabled {
  background: #246698a8;
  color: #fff;
  font-weight: 100;
}

a.btn.btn-primary.btn-lg.active.w-100.deliveryTag {
  background: #f7f7f7;
  color: #47d953;
  border: none;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 1px;
  font-weight: 100;
  white-space: normal;
  text-align: right;
  box-shadow: none;
  padding: 0;
}


a.btn.btn-primary.btn-lg.active.w-100.m-0.serviceNameTag {
  background: #e6e6e652;
  color: #202716bd;
  border: none;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 400;
  box-shadow: none;
  margin-left: -4px !important;
  white-space: normal;
  height: 50px;
}



/* cuisineSwitch */
a.nav-item.nav-link.cuisine {
  font-weight: 100;
  font-size: 16px;
  text-transform: lowercase;
  line-height: 1.5em;
  color: #fff;
  letter-spacing: 0px;
  text-shadow: none;
  padding-bottom: 20px;
  padding: 0;
}


/* Service List */
.pageTitle text-center {
  padding: .5em 0em;
  background: #0d6d2314;
  margin: 0em 0em 1.5em 0em;
}

/* Cards */
ul.card-deck.p-0.m-0.p-0 {
  margin-bottom: 200px !important;
  margin-top: -50px !important;
  background: #dadeefb8;
}

/* Submit */
.btn-submit {
  padding: 1em;
  text-align: left;
  padding-left: 35px;
  border: none;
  border-radius: 0px;
  color: #fff;
}
.btn-submit:hover {
  background: #28f51ad1;
  color: #fff;
  text-shadow: none;
}

.submitEntryBtn {
  background: #46cb7f;
  letter-spacing: 0px;
  box-shadow: 0px -18px 30px #12224a52;
  font-weight: 900;
  text-shadow: 1px 1px 3px #4b6351
}



/* footer */

.bg-footer {
  bottom: 0;
  background-color: #d8e3e4 !important;
}



@media screen and (max-width: 600px) {

  .updateButton {
    display: none !important;
  }

  .locationList {
    display: none;
  }

  .introText {
    font-size: 2em;
  }

  .btn-submit {
    font-size: 14px;
    line-height: 6em;
  }

  .btnSubmit i {
    padding-right: 8px;
  }

  button.btn.btn-primary.btn-light {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    text-align: center;
  }

  footer.footer.mt-auto.p-0 {
    z-index: 1000;
  }



  a.nav-item.nav-link {
    font-size: 1.5em;
  }




  .introPage .introTextTwo {
    font-style: italic;
    color: #fff;
    background: #92289ec4;
    font-size: 1em;
    padding: 1em 0em 1em 0em;
    text-align: center;
    box-shadow: none !important;
    margin-top: 40px !important;
  }

  .introPage .browseText {
    font-size: 1em;
    background: #b962bddb;
    text-align: center;
    box-shadow: none;
    border: none;
  }


  body>button>i {
    padding-right: 0px !important;
  }


  body > div.container-fluid.yeoIntro.p-0.m-0.rounded-0.text-center > nav:nth-child(2) > a:nth-child(2) 
  {
    display: none;
  }

  body > div.container-fluid.yeoIntro.p-0.m-0.rounded-0.text-center > nav:nth-child(2) > a:nth-child(3) {
    display:none;
  }

  .logoArea {
    padding-bottom: 20px !important;
  }

  .logoAreaText {
    display: none;
  }

  .yeoooDelivery {
    font-size: 45px;
  }

  .headline {
    font-size: 1.5em;
    padding: 45px 0px 0px 0px;
    margin: 0;
}

  body>div.jumbotron.jumbotron-fluid.yeoIntro.p-0.m-0.rounded-0.text-center>div>div.col-md-2.sm-12.p-0.m-0.logoArea>a:nth-child(3) {

    color: #fff;
    text-decoration: underline;
    line-height: 2em;
    font-size: .8em;
    position: fixed;
    top: 94.5vh;
    background: #48ff00ed;
    width: 100%;
    left: 0;
    text-transform: uppercase;
  }

  body>button {
    position: fixed;
    bottom: 31px;
    z-index: 1000;
    text-align: center;
    background: #46cb7ff2;
    text-shadow: none;
    letter-spacing: 3px;
    box-shadow: 0px -18px 30px #12224a52;
  }



  div#experience {
    margin-bottom: 10px !important;
  }


}

@media (min-width: 576px) {
  .list-group-item {
    width: 47%;
    margin: 5px 1.5% !important;
  }
  .locationList {
    display: none;
  }
}

@media (min-width: 768px) {
  .list-group-item {
    margin: 1em 2em 2em 2em !important;
    background: transparent;
    border-radius: 15px;
    width: 20%;
  }



}

@media (min-width: 992px) {}



.bgGradient {
  background: rgb(40, 185, 175);
  /* background: linear-gradient(135deg, rgba(65, 44, 208, 0.2), rgba(196, 83, 122, 0.23) 50%, rgba(208, 148, 85, 0.38)); */
  background: linear-gradient(135deg, rgba(236, 236, 236, 0.84), rgba(255, 255, 255, 0.59) 50%, rgba(240, 238, 249, 0.38));
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: auto;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /* height: 55vh; */
}


.parallax {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  /* height: 55vh; */
}




.introPage .yeoLogoTwo {
  background-repeat: no-repeat;
  margin: 0 !important;
  font-style: italic;
  color: white;
  background: #ef19be7d;
  padding-left: 0px;
  height: 100%;
  min-height: 200px;
}

.introPage .yeoLogoTwo h1 {
  font-family: futura-pt, Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  line-height: 1.2455em;
  padding: 0;
  margin: 0;
  font-size: 109px;
  letter-spacing: -3px;
  color: #9dcae0cf;
  font-weight: 600;
  text-shadow: 2px 2px 2px #4b0792ad;
  text-align: center;
  margin-left: -62px;
  box-shadow: none !important;
}

.introPage .yeoLogoTwo h2 {
  font-family: futura-pt, Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 0em;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-left: 44px;
  font-size: 50px;
  color: #092a8cc9;
  text-align: center;

}

.introPage .introTextTwo {
  font-style: italic;
  color: #fff;
  background: #92289ec4;
  font-size: 2em;
  padding: 1em 0em 1em 0em;
  text-align: center;
  box-shadow: none !important;
}

.introPage .browseText {
  font-size: 2.2em;
  background: #b962bddb;
  text-align: center;
  box-shadow: none;
  border: none;
}


.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}



@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card {
  border: none;
}

.cuisine span {
  font-size: 2em;
  display: block;
  line-height: 1em;
  padding-top: 10px;
  padding-bottom: 0px;
  text-shadow: 2px 2px #000;
}

.collectionBtn {
  font-weight: 500 !important;
  letter-spacing: 1px !important;
}


.🥦 {
  background: #0c541c85;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

.🐮 {
  background: #dc6cc994;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

.🧺 {
  background: #a06060a6;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

.🥫 {
  background: #c73535b5;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

.🍴 {
  background: #c1bdbd75;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

.🥛 {
  background: #ffffff6b;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

.🍞 {
  background: #e4e46a7d;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

.🍣 {
  background: #fcb1625e;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

.🥔 {
  background: #a52a2a69;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

.🚛 {
  background: #0080008c;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

.☕ {
  background: #e6e6e633;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}

.🍺 {
  background: #ffa5004d;
  animation: fade .5s;
  text-shadow: 2px 2px #000;
}



h1.display-4.headline.pageTop {
  padding: 0px;
  margin: 0 auto;
  text-transform: capitalize;
  line-height: 2em;
  background: #ef25cc8c;;
}

div#breadcrumbs {
  line-height: 2em;
}

.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-deck .card {
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
  background: #e1e9f3;
  overflow: hidden;
}


a.nav-item.nav-link.cuisine.yeoooLogo {
  padding-left: 0px;
  font-weight: 500;
  color: #65d84a;
  letter-spacing: -3px;
  text-transform: lowercase;
  font-style: normal;
  line-height: 1.5em;
  font-size: 40px;
  padding-right: 0px;
}

a.nav-item.nav-link.cuisine.yeoooLogo strong {
  padding-right: 30px;
}


.locationListBg {
  background: linear-gradient(90deg, rgb(7, 187, 186) 0%, rgba(96, 166, 173, 0.88) 35%, rgb(58, 191, 190) 100%);
}

.locationList {
  list-style: none; margin-top: 35px;
}

.locationList span {
text-transform: capitalize; 
font-weight: 900;
padding-left: 10px;
color: #fff;
padding-bottom: 25px;
display: block;
}

.locationList li {
  line-height: 2em;
  padding-bottom: 20px;
}

.locationList li a  {
  background: #674e8e;
  padding: .15em 1em;     
  line-height: 2em; 
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
  box-shadow: 2px 2px 2px #215463;     

}



html,
body {
    background: #30163cf5;
    color: #fff;
    animation: fade .5s;
}







/* Page Design */

.pageBg {
  background: linear-gradient(45deg, #2cbd31, #55ad19, #62c555);
}


.orderBtn {
    background: #37c316;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 2em;
    width: 33.3%;
    font-size: 2em;
    text-align: center;
    box-shadow: 8px 8px 12px #06190333;
}

/* Footer */

.fixedFooter {
  width: 100%;
  background-color: #d8e3e4;
  height: 80px;
  z-index: 1000;
  position: fixed;
  bottom: 0;
}
a.btn.btn-lg.active.w-100 {
  box-shadow: none;
}

.microMenu {
  position: absolute;
  left: 50px;
  background: #d8e3e4;
  width: auto;
}

.updateButton {
  position: absolute;
  background: #35f308d6;
  right: 74px;
  bottom: 0px;
  text-align: center;
  color: #fff;
  font-size: 38px;
  line-height: 80px;
  width: 33.3%;
  text-transform: uppercase;
  box-shadow: 8px 8px 12px #06190333;
  font-weight: 900;
  letter-spacing: 2px;
}

/* Submission Form */
#submissionForm .modal-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  background: #71d265;
}

/* Animation */

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

