<div class="randomize p-0 m-0">
    {% for service in site.data.deliveryServices %}
    {% if service.cuisine contains "🥫" %}
    <div data-aos="zoom-up" data-aos-delay="50" class=" border-0 p-0 m-0 mb3">
      
    
       <a href="/services/{{ service.name | replace: " ", "-" }}"
                        class="btn btn-primary btn-lg active w-100 m-0 serviceNameTag" role="button"
                        aria-pressed="true">{{ service.name }} </a>


           <style>

#serviceList {
    background: #249f9c !important;
    margin-top: 20px;
}
.border-0.p-0.m-0.mb3.aos-init.aos-animate {
    padding: 15px !important;
}
            a.serviceNameTag {
    position: inherit;
    margin: 0px;
    padding: 0px;
}
a.btn.btn-primary.btn-lg.active.w-100.m-0.serviceNameTag {
    padding: 15px 0px;
    line-height: 52px;
    text-transform: uppercase;
    border: 2px solid #249f9c;
    border-radius: 0px;
    background: #e7447f;
    color: #fff;
}
           </style>



    </div>
    {% elsif service.delivery  contains "📮" %}
    <!-- none -->
    {% endif %}
    {% endfor %}
</div>