<nav class="nav nav-pills nav-fill">

<a class="nav-item nav-link cuisine" href="/bakery">
<span class="nav-text">Bakery</span>
<span> 🍞</span>
</a>

<a class="nav-item nav-link cuisine" href="/beer">
<span class="nav-text">Beer</span>
<span>🍺</span>
</a>
    
<a class="nav-item nav-link cuisine" href="/clothing">
<span class="nav-text">Clothing </span>
<span>👚</span>
</a>
    
<a class="nav-item nav-link cuisine" href="/coffee">
<span class="nav-text">Coffee</span>
<span>☕ </span>
</a>
    
<a class="nav-item nav-link cuisine" href="/farming">
<span class="nav-text">Farming </span>
<span>🥔</span>
</a>
    
<a class="nav-item nav-link cuisine" href="/fruit-and-veg">
<span class="nav-text"> Fruit and Veg </span>
<span>🥦</span>
</a>
    
    <a class="nav-item nav-link cuisine" href="/groceries">
<span class="nav-text">Groceries</span>
<span>🥫</span>
</a>
    
<a class="nav-item nav-link cuisine" href="/takeout">
<span class="nav-text">Takeout</span>
<span>🥡</span>
</a>
    
<a class="nav-item nav-link cuisine" href="/ppe">
<span class="nav-text">PPE</span>
<span>😷</span>
</a>
    
<a class="nav-item nav-link cuisine" href="/pharmacy">
<span class="nav-text">Pharmacy</span>
<span> 👩🏾‍⚕️</span>
</a>
    
<a class="nav-item nav-link cuisine" href="/resturants">
<span class="nav-text">Resturants</span>
<span>🍴</span>
</a>
    
<a class="nav-item nav-link cuisine" href="/sports">
<span class="nav-text">Sports Equipment</span>
<span>🤼</span>
</a>
    
<a class="nav-item nav-link cuisine" href="/sweets">
<span class="nav-text"> Sweets</span>
<span>🍬</span>
</a>
    
<a class="nav-item nav-link cuisine" href="/vegan">
<span class="nav-text">Vegan </span>
<span>🥗 </span>
</a>
    
<a class="nav-item nav-link cuisine" href="/wine">
<span class="nav-text">Wine</span>
<span>🍷 </span>
</a>

</nav>