<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link cuisine" href="/bakery"><span> 🍞</span><span class="nav-text">Bakery</span></a>
    <a class="nav-item nav-link cuisine" href="/beer"><span>🍺</span><span class="nav-text">Beer</span></a>
    <a class="nav-item nav-link cuisine" href="/clothing"><span>👚</span><span class="nav-text">Clothing </span></a>
    <a class="nav-item nav-link cuisine" href="/coffee"><span>☕ </span><span class="nav-text">Coffee</span></a>
    <a class="nav-item nav-link cuisine" href="/farming"><span>🥔</span><span class="nav-text">Farming </span></a>
    <a class="nav-item nav-link cuisine" href="/fruit-and-veg"><span>🥦</span><span class="nav-text"> Fruit and Veg </span></a>
    <a class="nav-item nav-link cuisine" href="/groceries"><span>🥫</span><span class="nav-text">Groceries</span></a>
    <a class="nav-item nav-link cuisine" href="/takeout"><span>🥡</span><span class="nav-text">Takeout</span></a>
    <a class="nav-item nav-link cuisine" href="/ppe"><span>😷</span><span class="nav-text">PPE</span></a>
    <a class="nav-item nav-link cuisine" href="/pharmacy"><span> 👩🏾‍⚕️</span><span class="nav-text">Pharmacy</span></a>
    <a class="nav-item nav-link cuisine" href="/resturants"><span>🍴</span><span class="nav-text">Resturants</span></a>
    <a class="nav-item nav-link cuisine" href="/sports"><span>🤼</span><span class="nav-text">Sports Equipment</span></a>
    <a class="nav-item nav-link cuisine" href="/sweets"><span>🍬</span><span class="nav-text"> Sweets</span></a>
    <a class="nav-item nav-link cuisine" href="/vegan"><span>🥗 </span><span class="nav-text">Vegan </span></a>
    <a class="nav-item nav-link cuisine" href="/wine"><span>🍷 </span><span class="nav-text">Wine</span></a>
  

</nav>