<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link cuisine bakery" href="/bakery"><span> 🍞</span><strong>Bakery</strong></a>
    <a class="nav-item nav-link cuisine beer" href="/beer"><span>🍺</span><strong>Beer</strong></a>
    <a class="nav-item nav-link cuisine clothing" href="/clothing"><span>👚</span><strong>Clothing </strong></a>
    <a class="nav-item nav-link cuisine coffee" href="/coffee"><span>☕ </span><strong>Coffee</strong></a>
    <a class="nav-item nav-link cuisine farming" href="/farming"><span>🥔</span><strong>Farming </strong></a>
    <a class="nav-item nav-link cuisine fruit-and-veg" href="/fruit-and-veg"><span>🥦</span><strong> Fruit and Veg </strong></a>
    <a class="nav-item nav-link cuisine groceries" href="/groceries"><span>🥫</span><strong>Groceries</strong></a>
    <a class="nav-item nav-link cuisine chinese" href="/takeout"><span>🥡</span><strong>Takeout</strong></a>
    <a class="nav-item nav-link cuisine groceries" href="/ppe"><span>😷</span><strong>PPE</strong></a>
    <a class="nav-item nav-link cuisine pharmacy" href="/pharmacy"><span> 👩🏾‍⚕️</span><strong>Pharmacy</strong></a>
    <a class="nav-item nav-link cuisine resturants" href="/resturants"><span>🍴</span><strong>Resturants</strong></a>
    <a class="nav-item nav-link cuisine sports" href="/sports"><span>🤼</span><strong>Sports Equipment</strong></a>
    <a class="nav-item nav-link cuisine fish" href="/sweets"><span>🍬</span><strong> Sweets</strong></a>
    <a class="nav-item nav-link cuisine vegan" href="/vegan"><span>🥗 </span><strong>Vegan </strong></a>
    <a class="nav-item nav-link cuisine wine" href="/wine"><span>🍷 </span><strong>Wine</strong></a>
  

</nav>