<div class="animated fadeInUp delay-1s" id="parallax">


  <section id="about">
    <div class="parallax-one">
        <h2 class="animated fadeInDown delay-2s">About Us</h2>

      <h3 class="animated fadeInDown delay-2"> Working within an ever evolving marketplace, we aim to be there for you
          no matter what.

<br>

<a href="#haleslie"><i class="fas fa-chevron-down"></i></a>

        </h3>


    </div>
  </section>


  <div id="haleslie" class="container-fluid about p-5">
    <div class="card-deck">

      <div class="card p-5">
          <div class="hovereffect p-5">
        <img src="../images/about-ha-leslie-01.jpg" class="card-img-top" alt="Rolex Clock" />
        <div class="overlay">
            <h2>No Matter When</h2>
         </div>
          </div>
        <div class="card-body">
          <h5 class="card-title">No Matter When</h5>
          <p class="card-text">
            We understand that your business may not always be 9-5. <br> That is why
            at <strong>{{ site.shortTitle }}</strong> we will be there for you and your Insurance
            needs when you need us.
          </p>
          <p class="card-text">
              <small class="text-muted"></small>
             <strong>{{ site.title }}</strong><br />
              <a href="">{{ site.email }}</a> <br />
              <strong>{{ site.phone }}</strong>
            </small>
          </p>
        </div>
      </div>
      <div class="card p-5">
          <div class="hovereffect p-5">
        <img src="../images/about-ha-leslie-02.jpg" class="card-img-top" alt="Belfast Clock" />
        <div class="overlay">
            <h2>Personal Service</h2>
         </div>
          </div>
        <div class="card-body">
          <h5 class="card-title">Personal Service</h5>
          <p class="card-text">
            We believe business relationships are like any other. This is why we
            are always available to meet in person at a location that suits you,
            or via the telephone and email.
          </p>
          <p class="card-text">
              <small class="text-muted"></small>
             <strong>{{ site.title }}</strong><br />
              <a href="">{{ site.email }}</a> <br />
              <strong>{{ site.phone }}</strong>
            </small>
          </p>
        </div>
      </div>

    </div>
  </div>



    <div class="container-fluid p-5">
      <div class="card-deck">
        <div class="card p-5">
          <div class="hovereffect p-5">
          <img src="../images/about-ha-leslie-03.jpg" class="card-img-top" alt="Botanic Gardens" />
          <div class="overlay">
            <h2>Independent &amp; Local</h2>
         </div>
        </div>
          <div class="card-body">
            <h5 class="card-title">Independent &amp; Local</h5>
            <p class="card-text">
              We are an independently owned Insurance Broker based in Belfast
              and use our experience and expertise to focus on what we know
              best, local business and organisations
            </p>
            <p class="card-text">
                        <small class="text-muted"></small>
             <strong>{{ site.title }}</strong><br />
              <a href="">{{ site.email }}</a> <br />
              <strong>{{ site.phone }}</strong>
            </small>
            </p>
          </div>
        </div>

        <div class="card p-5">
            <div class="hovereffect p-5">
            <img src="../images/about-ha-leslie-04.jpg" class="card-img-top" alt="Botanic Gardens" />
            <div class="overlay">
              <h2>Our History</h2>
           </div>
          </div>
            <div class="card-body">
              <h5 class="card-title">Our History</h5>
              <p class="card-text">
                  We were established over 30 years ago in the heart of Belfast's
                  University Quarter and we still remain here today.
              </p>
              <p class="card-text">
                          <small class="text-muted"></small>
               <strong>{{ site.title }}</strong><br />
                <a href="">{{ site.email }}</a> <br />
                <strong>{{ site.phone }}</strong>
              </small>
              </p>
            </div>
          </div>

</div>




      </div>
    </div>
</div>
