<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link cuisine fruit-and-veg" href="/fruit-and-veg">Fruit and Veg 🥦</a>
    <a class="nav-item nav-link cuisine butchers" href="/butchers">Butchers 🐮</a>
    <a class="nav-item nav-link cuisine farm-shop" href="/farm-shop">Farm Shop 🧺</a>
    <a class="nav-item nav-link cuisine groceries" href="/groceries">Groceries 🥫</a>
    <a class="nav-item nav-link cuisine pre-made-meals" href="/pre-made-meals">Pre Made Meals 🍴</a>
    <a class="nav-item nav-link cuisine milk" href="/milk">Milk 🥛</a>
    <a class="nav-item nav-link cuisine bakery" href="/bakery">Bakery 🍞</a>
    <a class="nav-item nav-link cuisine fish" href="/fish">Fish 🍣</a>
    <a class="nav-item nav-link cuisine potatos" href="/potatos">Potatos 🥔</a>
    <a class="nav-item nav-link cuisine pharmacy" href="/pharmacy">Pharmacy 🚛</a>
    <a class="nav-item nav-link cuisine coffee" href="/coffee">Coffee ☕</a>
    <a class="nav-item nav-link cuisine booze" href="/booze">Booze 🍺</a>
    </nav>