<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link cuisine" style="text-shadow: none; padding-left: 25px;" href="/delivery">yeooo.delivery <strong style="padding-left: 45px;">🚚</strong></a>
    <a class="nav-item nav-link cuisine fruit-and-veg" href="/fruit-and-veg"><span>Fruit and Veg </span>🥦</a>
    <a class="nav-item nav-link cuisine butchers" href="/butchers"><span>Butchers </span>🐮</a>
    <a class="nav-item nav-link cuisine farm-shop" href="/farm-shop"><span>Farm Shop </span>🧺</a>
    <a class="nav-item nav-link cuisine groceries" href="/groceries"><span>Groceries </span>🥫</a>
    <a class="nav-item nav-link cuisine pre-made-meals" href="/pre-made-meals"><span>Pre Made Meals </span>🍴</a>
    <a class="nav-item nav-link cuisine milk" href="/milk"><span>Milk </span>🥛</a>
    <a class="nav-item nav-link cuisine bakery" href="/bakery"><span>Bakery </span>🍞</a>
    <a class="nav-item nav-link cuisine fish" href="/fish"><span>Fish </span>🍣</a>
    <a class="nav-item nav-link cuisine potatos" href="/potatos"><span>Potatos </span>🥔</a>
    <a class="nav-item nav-link cuisine pharmacy" href="/pharmacy"><span>Pharmacy </span>🚛</a>
    <a class="nav-item nav-link cuisine coffee" href="/coffee"><span>Coffee </span>☕</a>
    <a class="nav-item nav-link cuisine booze" href="/booze"><span>Booze </span>🍺</a>
    </nav>


