<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link cuisine yeoooLogo" style="" href="/delivery"> <strong style="padding-left: 25px;padding-right: 25px;">🚚</strong> yeooo</a>
    <a class="nav-item nav-link cuisine fruit-and-veg" href="/fruit-and-veg"><span>🥦</span> Fruit and Veg </a>
    <a class="nav-item nav-link cuisine butchers" href="/butchers"><span> 🐮</span> Butchers</a>
    <a class="nav-item nav-link cuisine farm-shop" href="/farm-shop"><span>🧺</span> Farm Shop </a>
    <a class="nav-item nav-link cuisine groceries" href="/groceries"><span>🥫 </span>Groceries</a>
    <a class="nav-item nav-link cuisine pre-made-meals" href="/pre-made-meals"><span>🍴</span>Pre Made Meals</a>
    <a class="nav-item nav-link cuisine milk" href="/milk"><span> 🥛</span>Milk</a>
    <a class="nav-item nav-link cuisine bakery" href="/bakery"><span> 🍞</span>Bakery</a>
    <a class="nav-item nav-link cuisine fish" href="/fish"><span>🍣</span> Fish</a>
    <a class="nav-item nav-link cuisine potatos" href="/potatos"><span>🥔</span>Potatos</a>
    <a class="nav-item nav-link cuisine pharmacy" href="/pharmacy"><span> 🚛</span>Pharmacy</a>
    <a class="nav-item nav-link cuisine coffee" href="/coffee"><span>☕ </span>Coffee</a>
    <a class="nav-item nav-link cuisine booze" href="/booze"><span>🍺</span>Booze</a>
</nav>