<ul class="card-deck p-0 m-0 px-3">

{% for service in site.data.deliveryServices %}


{% if service.delivery  contains "📮" %}



<li class="list-group-item border-0 p-0 m-0 py-5 ">
      <div class="card p-0 m-0 ">
          <div class="hovereffect">
        <img src="{{ service.mainPicture}}" class="card-img-top p-0 m-0" alt="{{ service.name }}" />
          </div>
        <div class="card-body">
          <h5 class="card-title">{{ service.name }}</h5>
            
{% if service.delivery contains "✅" %}
               <h5 style="color:#00b400; font-size: 1.25em;" class="card-title">{{ service.delivery }}</h5>
{% elsif service.delivery  contains "📮" %}
  <h5 style="color:#E63541; font-size: 1.25em;" class="card-title">{{ service.delivery }}</h5>
{% endif %}

          <p class="card-text">
             <strong class="text-muted">{{ service.cuisine }}</strong>
            <p>📱 {{ service.phoneNumber }} </p>

              <a class="mt-5" style="font-size: 1.2em;" target="_blank" href="{{ service.website }}">
{% if service.website contains "facebook" %}

      🔗 Facebook
{% else  %}

  🔗 Website

{% endif %}
    </a> 
          </p>
        </div>

<div class="card-footer text-muted">

         <strong>📍 {{ service.location }}</strong>
  </div>

      </div>
</li>

         

{% elsif service.delivery  contains "✅" %}

<!-- none -->

{% endif %}

{% endfor %}

    </ul>


