<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link cuisine yeoooLogo" style="" href="/delivery"> <strong style="padding-left: 5px;padding-right: 5px;font-size: 0.5em;">🚚</strong> yeooo</a>
    <a class="nav-item nav-link cuisine asian" href="/asian"><span>🏮</span>Asian</a>
    <a class="nav-item nav-link cuisine bakery" href="/bakery"><span> 🍞</span>Bakery</a>
    <a class="nav-item nav-link cuisine beer" href="/beer"><span>🍺</span>Beer</a>
    <a class="nav-item nav-link cuisine coffee" href="/coffee"><span>☕ </span>Coffee</a>
    <a class="nav-item nav-link cuisine farm-shop" href="/farm-shop"><span>🐮</span>Farm Shop </a>
    <a class="nav-item nav-link cuisine fashion" href="/fashion"><span>👚</span>Fashion </a>
    <a class="nav-item nav-link cuisine fruit-and-veg" href="/fruit-and-veg"><span>🥦</span> Fruit and Veg </a>
    <a class="nav-item nav-link cuisine fish" href="/fish"><span>🍣</span> Fish</a>
    <a class="nav-item nav-link cuisine groceries" href="/groceries"><span>🥫</span>Groceries</a>
    <a class="nav-item nav-link cuisine indian" href="/indian"><span>🇮🇳</span>Indian</a>
    <a class="nav-item nav-link cuisine milk" href="/milk"><span> 🥛</span>Milk</a>
    <a class="nav-item nav-link cuisine resturants" href="/resturants"><span>🍴</span>Resturants</a>
    <a class="nav-item nav-link cuisine potatos" href="/potatos"><span>🥔</span>Potatos</a>
    <a class="nav-item nav-link cuisine groceries" href="/ppe"><span>😷</span>PPE</a>
    <a class="nav-item nav-link cuisine pharmacy" href="/pharmacy"><span> 👩🏾‍⚕️</span>Pharmacy</a>
    <a class="nav-item nav-link cuisine sports" href="/sports"><span>🤼</span>Sports</a>
    <a class="nav-item nav-link cuisine vegan" href="/vegan"><span>🥗 </span>Vegan</a>
    <a class="nav-item nav-link cuisine wine" href="/wine"><span>🍷 </span>Wine</a>
  

</nav>