{% for item in site.data.airtable %}
<p>{{item.name}}</p>
<p>{{item.website}}</p>

<!-- {% if  item.mainPicture %}
<img src="{{item.attachment[0].url}}" alt={{item.title}} />
{% endif %}
-->

{% endfor %}


<!-- <br>
<span style="font-size: .8em;color: #115f23 !important;">(📱{{ service.phoneNumber }})</span>
<br>
<a class="mt-5" style="font-size: 1.2em;" target="_blank" href="{{ service.website }}">


{% if service.website contains "facebook" %}
🔗 Facebook
{% else  %}
🔗 Website
{% endif %}
</a> 
<br>
-->