<footer style="position: fixed; z-index: 1000;" class="footer mt-auto p-0">

  <div class="row">

    <div class="col-3 text-center">


      <a href="/delivery/" class="btn btn-lg active w-100" role="button" aria-pressed="true">
        🏠</a>


    </div>

    <div class="col-3 text-center">


      <a href="/search" class="btn btn-lg active w-100" role="button" aria-pressed="true">
        🔍</a>


    </div>

    <div class="col-3 text-center">


      <a href="/notifications" class="btn btn-lg active w-100" role="button"
        aria-pressed="true">
        🔔</a>


    </div>



    <div class="col-3 text-center">

      <a href="/inbox" class="btn btn-lg active w-100" role="button" aria-pressed="true">
        ✉️</a>

    </div>

  </div>



  <!--<div class="container text-center">
<a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/davidshawe"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Support this site - buy me a 🥤"><span style="margin-left:15px;font-size:19px !important;">Support this site - buy me a 🥤</span></a>
  </div>
-->





</footer>

{%include submissionForm.html %}