



<footer class="footer mt-auto py-3">

  <button style="" type="button" class="btn btn-primary btn-light btn-submit m-0 submitEntryBtn" data-toggle="modal" data-target="#airtable"> 
    submit an update</button> 

    <div class="container text-center">
<a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/davidshawe"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Support this site - buy me a 🥤"><span style="margin-left:15px;font-size:19px !important;">Support this site - buy me a 🥤</span></a>
  </div>
</footer>

{%include submissionForm.html %}