



<footer style="position: fixed; z-index: 1000;" class="footer mt-auto p-0">

<div class="row">

<div class="col-6 text-center">
  <button style="width: 100%;text-align: center;" type="button" class="btn btn-primary btn-light btn-submit m-0 submitEntryBtn" data-toggle="modal" data-target="#airtable"> 
    submit an update</button> 
</div>

<div class="col-6 text-center">
  <a style="color: #fff;font-size: 20px;line-height: 50px;text-align: center;" href="/terms">Terms | Privacy</a> 

</div>

</div>



   <!--<div class="container text-center">
<a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/davidshawe"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Support this site - buy me a 🥤"><span style="margin-left:15px;font-size:19px !important;">Support this site - buy me a 🥤</span></a>
  </div>
--> 





</footer>

{%include submissionForm.html %}