<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>Yeooo Delivery | Who's delivering what to Northern Ireland?</title>

<!-- Search Engine -->
<meta name="description" content="Yeooo Delivery is a curation of the best products and services that deliver to and within Northern Ireland. Discover the latest food, coffee, bread and potatoes that everyone is talking about">
<meta name="image" content="https://yeooo.delivery/images/yeooo-delivery-northern-ireland.png">
<!-- Schema.org for Google -->
<meta itemprop="name" content="Yeooo Delivery | Who's delivering what to Northern Ireland?">
<meta itemprop="description" content="Yeooo Delivery is a curation of the best products and services that deliver to and within Northern Ireland. Discover the latest food, coffee, bread and potatoes that everyone is talking about">
<meta itemprop="image" content="https://yeooo.delivery/images/yeooo-delivery-northern-ireland.png">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="Yeooo Delivery | Who's delivering what to Northern Ireland?">
<meta name="og:description" content="Yeooo Delivery is a curation of the best products and services that deliver to and within Northern Ireland. Discover the latest food, coffee, bread and potatoes that everyone is talking about">
<meta name="og:image" content="https://yeooo.delivery/images/yeooo-delivery-northern-ireland.png">
<meta name="og:url" content="https://yeooo.delivery">
<meta name="og:site_name" content="Yeooo Delivery | Who's delivering what to Northern Ireland?">
<meta name="og:locale" content="en_UK">
<meta name="og:type" content="website">

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />

<link rel="stylesheet" href="https://use.typekit.net/hva3xzw.css" />
<link href="https://fonts.googleapis.com/css?family=Arial" rel="stylesheet">
  
</head>
