<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />


{% if page.type == "delivery" %}
{%include meta/meta.html %}
{% elsif page.type == "collection" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "fruit-and-veg" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "butchers" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "groceries" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "farm-shop" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "pre-made-meals" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "milk" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "bakery" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "fish" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "potatos" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "bread" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "pharmacy" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "coffee" %}
{%include meta/metaCusine.html %}
{% elsif page.type == "booze" %}
{%include meta/metaCusine.html %}
{% else %}
{%include meta/metaPage.html %}
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<!-- <link rel="manifest" href="/site.webmanifest"> -->

<link rel="stylesheet" href="/css/main.css" />

<link rel="stylesheet" href="https://use.typekit.net/hva3xzw.css" />




</head>
