<div class="jumbotron jumbotron-fluid yeoIntro p-0 m-0 rounded-0 text-center">
<div class="container-fluid p-0 m-0">
    {%include areaSwitch.html %}
    {%include switch.html %}
</div>
</div>

<button style="position: fixed;bottom: 0;z-index: 1000;text-align: center;background: #46cb7f;text-shadow: none;letter-spacing: 3px;box-shadow: 0px -18px 30px #12224a52;" type="button" class="btn btn-primary btn-light btn-submit m-0" data-toggle="modal" data-target="#airtable"> 
    <i style="padding-right: 50px;" class="fas fa-external-link-alt"></i>Submit an entry </button> 