

</div>  

<div class="jumbotron jumbotron-fluid yeoIntro p-0 m-0 rounded-0 text-center">

  <div class="container-fluid p-0 m-0">


      {%include logo.html %}



    <h1 class="display-4 m-0 px-4 introText"><strong style="padding-left: 20px;font-style: italic;color: #fffcfc;">We're making a huge, big list of delviery services in Northern Ireland </strong></h1>
    <p class=" display-4 m-0 p-4"><i>Browse the businesses, order some food or submit your entry below.</i></p>
    <button type="button" class="btn btn-primary btn-light btn-submit" data-toggle="modal" data-target="#airtable"> 
	<i style="padding-right:10px;" class="fas fa-external-link-alt"></i>Submit an entry </button>
  </div>

</div>

