<div class="jumbotron jumbotron-fluid yeoIntro p-0 m-0 rounded-0 text-center">
<div class="row">

    <div class="col-md-10 sm-12 m-0 p-0">
        <div class="container-fluid p-0 m-0">
            {%include areaSwitch.html %}
            {%include switch.html %}
        </div>
    </div>

    <div class="col-md-2 sm-12 p-0 m-0 logoArea">
        <a class="yeoooDelivery" href="{{site.url}}">yeooo.delivery</a>
        <span class="nav-item nav-link active px-0 mx-0 logoAreaText" href="/delivery">kudos for the data from by our Facebook friends  <a style="color: #fff;text-decoration: underline;" href="https://www.facebook.com/groups/WhoIsDeliveringNI/">WhoIsDeliveringNI</a></span>
        <a style="color: #fff;text-decoration: underline; line-height: 2em; font-size: .8em;" href="/terms">Terms + Privacy</a>
    </div>


</div>
</div>

<button style="position: fixed;bottom: 0;z-index: 1000;text-align: center;background: #46cb7f;text-shadow: none;letter-spacing: 3px;box-shadow: 0px -18px 30px #12224a52;" type="button" class="btn btn-primary btn-light btn-submit m-0" data-toggle="modal" data-target="#airtable"> 
    <i style="padding-right: 50px;" class="fas fa-external-link-alt"></i>Submit an entry </button> 