<div class="jumbotron jumbotron-fluid yeoIntro p-0 m-0 rounded-0 text-center">
<div class="container-fluid p-0 m-0 introPage">

<div class="row m-0 p-0">
<div class="col col-sm-12 m-0 p-0">
{%include logoTwo.html %}
</div>	

<div class="col col-sm-12 m-0 p-0">
<h1 class="display-4 m-0 px-4 introTextTwo"><strong style="padding-left: 5px;font-style: italic;color: #fffcfc;">We're making a huge, thiccc list of delivery services within Northern Ireland </strong></h1>
<p class=" display-4 m-0 p-4 browseText"><i>Browse the businesses, order some food or submit your entry below.</i></p>
</div>	
</div>

</div>
</div>




<button style="    position: fixed;
    bottom: 0;
    z-index: 1000;
    text-align: center;
    background: #1bad5efa;" type="button" class="btn btn-primary btn-light btn-submit m-0" data-toggle="modal" data-target="#airtable"> 
<i style="padding-right: 50px;" class="fas fa-external-link-alt"></i>Submit an entry </button> 