<div class="yeoLogo text-center">
  <h1 class="animated fadeIn delay-1s">{{ site.shortTitle }}</h1>
  <h2 class="animated fadeIn delay-2s">.Delivery</h2>
</div>


<div class="jumbotron jumbotron-fluid yeoIntro">
  <div class="container">
    <h1 class="display-4 m-4 p-4"><strong>We're making a huge, big list of delviery services in Northern Ireland </strong></h1>
    <p class=" display-4 m-4 p-4"><i>Browse the businesses, order some food or submit your entry below.</i></p>
    <button type="button" class="btn btn-primary btn-light " data-toggle="modal" data-target="#airtable">
<i style="padding-right:10px;" class="fas fa-external-link-alt"></i>   Submit an entry
</button>
  </div>
</div>


