<div class="col-md-2 sm-12 p-0 m-0 logoArea">
    <a class="yeoooDelivery" href="{{site.url}}">yeooo.delivery</a>
   <!-- <span class="nav-item nav-link active px-0 mx-0 logoAreaText" href="/delivery">kudos for the data from by our Facebook friends  <a style="color: #fff;text-decoration: underline;" href="https://www.facebook.com/groups/WhoIsDeliveringNI/">WhoIsDeliveringNI</a></span>--> 
    <a style="color: #fff;text-decoration: underline; line-height: 1em; font-size: .8em;" href="/terms">Terms + Privacy</a>
</div>
