<div id="parallax">


  <section>
    <div id="experience" class="parallax-two">
<h2>Delivery Services</h2>
      <h3>We're currently building a list and confirming our sources, view a service or submit an entry above</h3>
    </div>
  </section>

  <div class="container-fluid about p-5">

    <div class="card-deck">



      <div class="card">
          <div class="hovereffect">
        <img src="../images/our-experience-02.jpg" class="card-img-top" alt="Rolex Clock" />
        <div class="overlay">
            <h2>Stephen McAnee BSSc MBA ACII</h2>
         </div>
          </div>
        <div class="card-body">
          <h5 class="card-title">Stephen McAnee BSSc MBA ACII</h5>

          <p class="card-text">
              <small class="text-muted"></small>
             <strong>{{ site.title }}</strong><br />
              <a href="mailto:{{ site.email }}">{{ site.email }}</a> <br />
              <strong>07852100861</strong>
            </small>
          </p>
        </div>
      </div>
      <div class="card">
          <div class="hovereffect">
        <img src="../images/our-experience-01.jpg" class="card-img-top" alt="Belfast Clock" />
        <div class="overlay">
            <h2>Kieran McClean Cert CII</h2>
         </div>
          </div>
        <div class="card-body">
          <h5 class="card-title">Kieran McClean Cert CII</h5>

          <p class="card-text">
              <small class="text-muted"></small>
             <strong>{{ site.title }}</strong><br />
              <a href="mailto:kmcclean@haleslie.co.uk">kmcclean@haleslie.co.uk</a> <br />
              <strong>07783649305</strong>
            </small>
          </p>
        </div>
      </div>

      <div class="card">
            <div class="hovereffect">
            <img src="../images/our-experience-03.jpg" class="card-img-top" alt="Botanic Gardens" />
            <div class="overlay">
              <h2>Jacqueline Entwistle B A Hons FCII MCIM</h2>
           </div>
          </div>
            <div class="card-body">
              <h5 class="card-title">Jacqueline Entwistle B A Hons FCII MCIM</h5>

              <p class="card-text">
                          <small class="text-muted"></small>
               <strong>{{ site.title }}</strong><br />
                <a href="mailto:jentwistle@haleslie.co.uk">jentwistle@haleslie.co.uk</a> <br />
                <strong>07783649265</strong>
              </small>
              </p>
            </div>
          </div>

          <div class="card">
                <div class="hovereffect">
                <img src="../images/our-experience-04.jpg" class="card-img-top" alt="Botanic Gardens" />
                <div class="overlay">
                  <h2>Alyssia McAnee BA Hons MSC Psychology.</h2>
               </div>
              </div>
                <div class="card-body">
                  <h5 class="card-title">Alyssia McAnee BA Hons MSC Psychology.</h5>

                  <p class="card-text">
                              <small class="text-muted"></small>
                   <strong>{{ site.title }}</strong><br />
                    <a href="mailto:amcanee@haleslie.co.uk">amcanee@haleslie.co.uk </a> <br />
                    <strong>07783649266</strong>
                  </small>
                  </p>
                </div>
              </div>

    </div>
  </div>


    </div>
</div>
