<div id="parallax" class="pt-5 mt-5 pb-5 mb-5">
  <section class="pb-5 mb-5">
    <div id="experience" class="parallax-two">
    

{% if page.type == "delivery" %}
    <h2>Delivery  ✅ Services</h2>
{% elsif page.type == "collection" %}
  <h2>Collection Only 📮 Services</h2>
{% endif %}

    

      <h3>We're currently building a list and confirming our sources, view a service or submit an entry above</h3>
    </div>
  </section>

  <div class="container-fluid about p-0 m-0 ">


{% if page.type == "delivery" %}
       {%include deliveryServices.html %}
{% elsif page.type == "collection" %}
  {%include collectionServices.html %}
{% endif %}



</div>
