{% if page.type == "asian" %}
{%include services/asianServices.html %}
{% elsif page.type == "bakery" %}
{%include services/bakeryServices.html %}
{% elsif page.type == "beer" %}
{%include services/beerServices.html %}
{% elsif page.type == "bread" %}
{%include services/breadServices.html %}
{% elsif page.type == "coffee" %}
{%include services/coffeeServices.html %}
{% elsif page.type == "farm-shop" %}
{%include services/farmShopServices.html %}
{% elsif page.type == "fashion" %}
{%include services/fashionServices.html %}
{% elsif page.type == "fruit-and-veg" %}
{%include services/fruitAndVegServices.html %}
{% elsif page.type == "fish" %}
{%include services/fishServices.html %}
{% elsif page.type == "groceries" %}
{%include services/groceryServices.html %}
{% elsif page.type == "indian" %}
{%include services/indianServices.html %}
{% elsif page.type == "milk" %}
{%include services/milkServices.html %}
{% elsif page.type == "potatos" %}
{%include services/potatoServices.html %}
{% elsif page.type == "ppe" %}
{%include services/ppeServices.html %}
{% elsif page.type == "pharmacy" %}
{%include services/pharmacyServices.html %}
{% elsif page.type == "resturants" %}
{%include services/resturantServices.html %}
{% elsif page.type == "sports" %}
{%include services/sportServices.html %}
{% elsif page.type == "vegan" %}
{%include services/veganServices.html %}
{% elsif page.type == "wine" %}
{%include services/wineServices.html %}
{% endif %}