<form method="get" id="search-google" action="https://www.google.com/search" target="_blank"><input type="hidden" name="sitesearch" value="yeooo.delivery" /><input type="text" name="q" maxlength="255" value="" placeholder="" class="form-control" /></form>




<style type="text/css">




header {
    display: flex;
    height: 85px;
    background: #037a76;
    border-top: 5px solid #f44786;
}

header h1 {
    width: auto;
    height: 80px;
    content: 'yeooo';
    font-size: 50px;
    line-height: 21px;
    padding: 27px 2px 16px 18px;
    padding-bottom: 0px;
    margin: 0;
}

#search-google input {
    background: #fff url(https://img.icons8.com/material-outlined/24/000000/search--v1.png) no-repeat scroll 7px 7px;
    padding-left: 42px;
    font-family: arial;
    font-size: 15px;
    letter-spacing: 0px;
}
	
a.nav-item.nav-link.cuisine.yeoooLogo.animate.yeoooAnimate {
    top: 100px;
    display: none;
}


form#search-google {
    margin: 0;
    border: 0;
    width: 100%;
    padding-top: 24px;
    padding-left: 25px;
    padding-right: 15px;
}
nav.nav.nav-pills.nav-fill.lightNav {
    max-width: 273px;
    padding-top: 31px;
    padding-right: 0px;
    padding-left: 3px;
}

nav.nav.nav-pills.nav-fill.lightNav a {
    font-size: 18px;
    padding: 0px 0px 0px 10px;
    margin: 0;
    text-transform: capitalize;
}



@media screen and (max-width: 600px) {
nav.nav.nav-pills.nav-fill {
    background: #403746;
    height: 70vh;
}


a.nav-item.nav-link.cuisine {
    width: 33.3%;
    height: 20vh;
}

span.nav-text {
    display: contents !important;
    color: #fff;
    font-size: 15px;
    position: relative;
}

}

/* html {
	background: red;
}

 body {
	display: none;
}
*/

@media (min-device-width:320px) and (max-device-width:768px) {

html {
	background: #ef98b7;
}

form#search-google {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 20px 0px 13px;
    margin-top: -5px;
}



.cuisine span {
    font-size: 30px;
}

a.nav-item.nav-link.cuisine {
    font-weight: 100;
    text-transform: lowercase;
    color: #fff;
    letter-spacing: 0px;
    text-shadow: none;
    padding: 0px;
    display: contents;
}

nav.nav.nav-pills.nav-fill {
    z-index: 100;
    height: auto;
    background: #4B2E90;
    width: 100%;
    bottom: 0px;
    padding-top: 25px;
}

span.nav-text {
    display: block !important;
    color: #000;
    position: relative;
    text-align: left;
    padding: 10px 0px 10px 10px;
    font-size: 13px;
    height: 40px;
}



.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #ef98b7;
    height: 100vh;
}

.card-deck .card {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    background: #ffb8d1f0;
    overflow: hidden;
    height: 95vh;
    width: 95vw;
    border-radius: 12px;
}

}


{% if page.category == "cuisine" %}




/*
.container-fluid.m-0.p-0 {
    margin-left: -20vh !important;
    width: 265vw !important;
}


ul.card-deck.p-0.m-0 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: inherit;
    width: 100%;
    overflow: overlay;
}


.card-deck .card {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    background: #dadadaa6;
    overflow: hidden;
    height: 95vh;
    width: 95vw;
    border-radius: 12px;
}

strong {
    font-size: 21px;
    line-height: 43px;
    color: #1a1515;
}

a.btn.btn-primary.btn-lg.active.w-100.m-0.serviceNameTag {
    color: #262626;
    padding-left: 0px;
    background: #ffffff;
    display: block;
    font-weight: 100;
}

a.btn.btn-primary.btn-lg.active.w-100.moreinfo-btn {
    display: block;
    width: 100% !important;
    background: #fff;
    color: #720e32;
}

.card-header {
    background: #fff;
}

.hovereffect {
    background: #fff;
}

.card-body {
    flex: none;
    background: #f9f9f9;
}

.card-deck .card {

	    background: #fdfbfb;
}

*/
{% endif %}
</style>