<form method="get" id="search-google" action="https://www.google.com/search" target="_blank"><input type="hidden" name="sitesearch" value="yeooo.delivery" /><input type="text" name="q" maxlength="255" value="" placeholder="Search yeooo.io" class="form-control" /></form>


<style type="text/css">
	
a.nav-item.nav-link.cuisine.yeoooLogo.animate.yeoooAnimate {
    top: 100px;
    display: none;
}


form#search-google {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px;
}

.jumbotron {
    display: none;
}


@media screen and (max-width: 600px) {
nav.nav.nav-pills.nav-fill {
    background: #403746;
    height: 70vh;
}


a.nav-item.nav-link.cuisine {
    width: 33.3%;
    height: 20vh;
}

span.nav-text {
    display: contents !important;
    color: #fff;
    font-size: 15px;
    position: relative;
}

}

</style>