<form method="get" id="search-google" action="https://www.google.com/search" target="_blank"><input type="hidden" name="sitesearch" value="yeooo.delivery" /><input type="text" name="q" maxlength="255" value="" placeholder="Search yeooo.io" class="form-control" /></form>




<style type="text/css">



#search-google input {
    background: #fff url(https://img.icons8.com/material-outlined/24/000000/search--v1.png) no-repeat scroll 7px 7px;
    padding-left: 42px;
    font-family: arial;
    font-size: 15px;
    letter-spacing: 0px;
}
	
a.nav-item.nav-link.cuisine.yeoooLogo.animate.yeoooAnimate {
    top: 100px;
    display: none;
}


form#search-google {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px;
}

.jumbotron {
    display: none;
}


@media screen and (max-width: 600px) {
nav.nav.nav-pills.nav-fill {
    background: #403746;
    height: 70vh;
}


a.nav-item.nav-link.cuisine {
    width: 33.3%;
    height: 20vh;
}

span.nav-text {
    display: contents !important;
    color: #fff;
    font-size: 15px;
    position: relative;
}

}

html {
	background: red;
}

 body {
	display: none;
}


@media (min-device-width:320px) and (max-device-width:768px) {

html {
	background: #ef98b7;
}

form#search-google {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 20px 0px 13px;
    margin-top: -5px;
}

  html, body {
	display: block;

}

.cuisine span {
    font-size: 70px;
    display: block;
    line-height: 1em;
    padding: 0.125em 0.135em;
}

a.nav-item.nav-link.cuisine {
    width: 95px;
    height: 15vh;
    margin: 9px 9px 0px 12px;
    border-radius: 8px;
    background: linear-gradient( 
45deg, #fff3f7, #ffeff4, #efefef);
}

nav.nav.nav-pills.nav-fill {
    background: linear-gradient( 
45deg, #f5c9d9, #ff9abe, #ef98b7);
    height: 60vh;
    padding: 5px;
    margin-left: -5px;
    width: 100%;
    overflow: overlay;
    margin-top: -25px;
}

span.nav-text {
    display: block !important;
    color: #000;
    position: relative;
    text-align: left;
    padding: 10px 0px 10px 10px;
    font-size: 13px;
    height: 40px;
}



}

</style>