{% if page.type == "delivery" %}
<h2 class="pageTitle">Delivery Services 🚚</h2>
{% elsif page.type == "collection" %}
<h2 class="pageTitle">Collection Services 📮</h2>
{% elsif page.type == "fruit-and-veg" %}
<h2 class="pageTitle">FRUIT AND VEG 🥦</h2>
{% elsif page.type == "butchers" %}
<h2 class="pageTitle">BUTCHERS 🐮</h2>
{% elsif page.type == "groceries" %}
<h2 class="pageTitle">GROCERIES 🥫</h2>
{% elsif page.type == "farm-shop" %}
<h2 class="pageTitle">FARM SHOP 🧺</h2>
{% elsif page.type == "pre-made-meals" %}
<h2 class="pageTitle">PRE MADE MEALS 🍴</h2>
{% elsif page.type == "milk" %}
<h2 class="pageTitle">MILK 🥛</h2>
{% elsif page.type == "bakery" %}
<h2 class="pageTitle">BAKERY 🍞</h2>
{% elsif page.type == "fish" %}
<h2 class="pageTitle">FISH 🍣</h2>
{% elsif page.type == "potatos" %}
<h2 class="pageTitle">POTATOS 🥔</h2>
{% elsif page.type == "bread" %}
<h2 class="pageTitle">BREAD 🍞</h2>
{% elsif page.type == "pharmacy" %}
<h2 class="pageTitle">PHARMACY 🚛</h2>
{% elsif page.type == "coffee" %}
<h2 class="pageTitle">COFFEE ☕</h2>
{% elsif page.type == "booze" %}
<h2 class="pageTitle">BOOZE 🍺</h2>
{% endif %}

{% if page.type == "delivery" %}
{%include deliveryServices.html %}
{% elsif page.type == "collection" %}
{%include collectionServices.html %}
{% elsif page.type == "fruit-and-veg" %}
{%include services/fruitAndVegServices.html %}
{% elsif page.type == "butchers" %}
{%include services/butcherServices.html %}
{% elsif page.type == "farm-shop" %}
{%include services/farmShopServices.html %}
{% elsif page.type == "groceries" %}
{%include services/groceryServices.html %}
{% elsif page.type == "pre-made-meals" %}
{%include services/preMadeMealServices.html %}
{% elsif page.type == "milk" %}
{%include services/milkServices.html %}
{% elsif page.type == "bakery" %}
{%include services/bakeryServices.html %}
{% elsif page.type == "fish" %}
{%include services/fishServices.html %}
{% elsif page.type == "potatos" %}
{%include services/potatoServices.html %}
{% elsif page.type == "bread" %}
{%include services/breadServices.html %}
{% elsif page.type == "pharmacy" %}
{%include services/pharmacyServices.html %}
{% elsif page.type == "coffee" %}
{%include services/coffeeServices.html %}
{% elsif page.type == "booze" %}
{%include services/boozeServices.html %}
{% endif %}

