<ul class="card-deck p-0 m-0 px-3">
    {% for service in site.data.deliveryServices %}
    {% if service.cuisine contains "🥛" %}
    <li class="list-group-item border-0 p-0 m-0 py-5 ">
    <div class="card p-0 m-0 ">
    
        <div style="display: flex; justify-content: space-between;">
            <a style="text-align: left;margin-left: -10px; color: #96433fba; font-weight: 100; letter-spacing: 2px; " class="nav-link " href="#">    <strong>📍 {{ service.location }}</strong></a>
            <a class="nav-link " href="/services/{{ service.name | replace: " ", "_" }}">    <strong> {{ service.emoji }}</strong></a>
        </div>
    
    <div class="hovereffect">
    <img src="{{ service.mainPicture }}" class="card-img-top p-0 m-0" alt="{{ service.name }}" />
    </div>
    
    <div class="card-body">
    <a style="" href="/services/{{ service.name | replace: " ", "_" }}"  class="btn btn-primary btn-lg active w-100 m-0 serviceNameTag" role="button" aria-pressed="true">{{ service.name }} </a>
    </div>
    
    <div class="card-footer text-muted">
    <div class="d-flex bd-highlight">
    <a style="" href="/services/{{ service.name | replace: " ", "_" }}" class="btn btn-primary btn-lg active w-100 deliveryTag" role="button" aria-pressed="true">{{ service.delivery }}</a>
    </div>
    
    
    <div class="d-flex bd-highlight">
    <a  href="/services/{{ service.name | replace: " ", "_" }}" class="btn btn-primary btn-lg active w-100 moreinfo-btn " role="button" aria-pressed="true">More Info</a>
    </div>
    
    
    </div>
    
    </div>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
    
    
    