
  {% if page.type == "delivery" %}
  <h2 class="pageTitle text-center">Delivery Services 🚚</h2>
  {% elsif page.type == "collection" %}
  <h2 class="pageTitle text-center">Collection Services 📮</h2>
  {% elsif page.type == "bakery" %}
  <h2 class="pageTitle text-center">Bakery 🍞</h2>
  {% elsif page.type == "beer" %}
  <h2 class="pageTitle text-center">Beer 🍺</h2>
  {% elsif page.type == "clothing" %}
  <h2 class="pageTitle text-center">Clothing 👚</h2>
  {% elsif page.type == "coffee" %}
  <h2 class="pageTitle text-center">Coffee ☕</h2>
  {% elsif page.type == "Farming" %}
  <h2 class="pageTitle text-center"> Farming 🥔 </h2>
  {% elsif page.type == "fruit-and-veg" %}
  <h2 class="pageTitle text-center">FRUIT AND VEG 🥦</h2>
  {% elsif page.type == "groceries" %}
  <h2 class="pageTitle text-center">GROCERIES 🥫</h2>
  {% elsif page.type == "resturants" %}
  <h2 class="pageTitle text-center">Resturants 🍴</h2>
  {% elsif page.type == "takeout" %}
  <h2 class="pageTitle text-center">Take out 🥡</h2>
  {% elsif page.type == "ppe" %}
  <h2 class="pageTitle text-center">PPE 😷</h2>
  {% elsif page.type == "pharmacy" %}
  <h2 class="pageTitle text-center">Pharmacy 👩🏾‍⚕️</h2>
  {% elsif page.type == "sports" %}
  <h2 class="pageTitle text-center">Sports 🤼</h2>
  {% elsif page.type == "sweets" %}
  <h2 class="pageTitle text-center">Sweets 🍬</h2>
  {% elsif page.type == "vegan" %}
  <h2 class="pageTitle text-center">Vegan 🥗</h2>
  {% elsif page.type == "wine" %}
  <h2 class="pageTitle text-center">Wine 🍷</h2>
  {% endif %}