  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
  ></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161398717-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161398717-1');
</script>




<!-- Mailchimp -->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
  data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
  window.dojoRequire(["mojo/signup-forms/Loader"], function (L) {
      L.start({
          "baseUrl": "mc.us4.list-manage.com",
          "uuid": "61cb867bb4af1432782e78131",
          "lid": "623b66bd1e",
          "uniqueMethods": true
      })
  })
</script>


<script type="text/javascript">
  
$(document).ready(function(){
  $("#displayPosts li:nth-child(n1)").css("background-color", "rgb(102 96 105)");
  $("#displayPosts li:nth-child(2n)").css("background-color", "rgb(114 110 117))");
  $("#displayPosts li:nth-child(3n)").css("background-color", "rgb(115 115 121)");
  $("#displayPosts li:nth-child(4n)").css("background-color", "rgb(88 83 88)");
  $("#displayPosts li:nth-child(5n)").css("background-color", "rgb(117 113 117)");
  $("#displayPosts li:nth-child(6n)").css("background-color", "rgb(82 82 82)");
});


</script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  AOS.init();
</script>



<script>

function isvisible(obj) {
  return obj.offsetWidth > 0 && obj.offsetHeight > 0;
}
var shuffle = function() {
      elements = document.querySelectorAll('.randomize');
      Array.prototype.forEach.call(elements, function(parentel, i){
        var children = parentel.children;
        children = Array.prototype.slice.call(children, 0);
        children = Array.prototype.sort.call(children, function(a, b) {
            return Math.random() - 0.5;
        });
        for(var i = 0, l = children.length; i < l; i++) parentel.append(children[i]);
      });
};
shuffle();

elements = document.querySelectorAll('.randomize');
Array.prototype.forEach.call(elements, function(parentel, i){
    children = parentel.children;
    Array.prototype.forEach.call(children, function(el, j){
        if(isvisible(el)) {
            if(el.getAttribute('data-src')) el.setAttribute('src',el.getAttribute('data-src'));
            if(el.querySelector('img')) {
                Array.prototype.forEach.call(el.querySelectorAll('img'), function(imgel, j){
                    imgel.setAttribute('src',imgel.getAttribute('data-src'));
                });
            }
            if(el.querySelector('*')) {
                Array.prototype.forEach.call(el.querySelectorAll('*'), function(subel, j){
                    subel.setAttribute('style',imgel.getAttribute('data-style'));
                });
            }
        }
    });
});

</script>