<!DOCTYPE html>
<html lang="en">
{% include meta/head.html %}
<body>

{% include scripts/scripts.html %}

<a class="nav-item nav-link cuisine yeoooLogo animate yeoooAnimate" href="{{ site.url }}"> <strong style="padding-left: 5px;padding-right: 5px;font-size: 0.5em;">🚚</strong> yeooo <i style="position: absolute; right: 25px; top: 16px; font-style: normal; letter-spacing: 1px; color: #fff; text-transform: lowercase; text-shadow: 2px 2px 2px #000102;">{% include specfic/pageType.html%}</i></a>

{% if page.category == "cuisine" %}
<h1 class="display-4 headline"><strong style="font-style: italic;">Find a {{page.type}} service in Northern Ireland.</strong></h1>
{% else %}
<h1 style="display: none;" class="display-4 headline"><strong style="font-style: italic;">{{site.description}}</strong></h1>
{% endif %}



{% if page.tag == "services" %}
{% include nav/breadcrumbs.html %}
{% endif %}

{% for service in site.data.yeooooooo %}
{{ service.cuisine }}
{% endfor %}

<div id="serviceList">
{{ content }}
</div>

{% include footer/footer.html %}

{% include scripts/lazyload.html %}

{% include scripts/randomize.html %}


</body>

</html>

