<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{%include intro.html %}
<div class="container">
<div class="container">
<div class="container text-center pt-5 pb-5">
 <h1 class="display-4 headline" style="font-size: 36px;"><strong style="font-style: italic;">{{ page.name }} is operating a {{ page.cuisine }} delivery servivce in Northern Ireland. </strong></h1>
</div>
</div>
</div>
<section class="container px-5">
<div class="row mb-5 pb-5">
<div class="col pt-2 mt-2">	
<img src="{{ page.mainPicture }}" class="card-img-top p-0 m-0" alt="{{ page.name }}" />
</div>

<div class="col pt-5 mt-5"">
<h1 class=" {{ page.class | downcase }}">{{ page.name }}</h1>
<h2 class=" {{ page.class | downcase }}">{{ page.cuisine }}</h2>
<hr>
<h3 class=" {{ page.class | downcase }}">{{ page.location }}</h3>
<p class=" {{ page.class | downcase }}">{{ page.phoneNumber }}</p>
<a href="{{ page.website }}" class="{{ page.family | downcase }}"></a>
<a style="background: #f7f7f7;color: #47d953bd;border: solid #47d9531f;text-transform: uppercase;font-size: 1.85em;letter-spacing: 3px;font-weight: 900;" href="{{ page.website | replace: " ", "_" }}" class="btn btn-primary btn-lg active w-100 m-0" role="button" aria-pressed="true">Visit Website</a>
</div>

</div>	

<div class="row">
<div class="col">

</div>
</div>

</section>

</div>

{{ content }}
  
<div class="parallax featuredHeader text-center" style="background-image: url('{{ page.mainPicture }}');  height: 50vh; background-position: bottom;">
    <div class="bgGradient" style="height: 50vh; background-position: bottom;">
       
        </div>
    </div>

    {%include footer.html %}

<style>

    html,body {
        background: #30163cf5;
    color: #fff;
    animation: fade .5s;
    }

</style>
</body>

{% include scripts.html %}

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us4.list-manage.com","uuid":"61cb867bb4af1432782e78131","lid":"623b66bd1e","uniqueMethods":true}) })</script>

</html>
