
<!-- Create Variables the today and the blog post date -->


{% assign today_date = 'now' | date: '%B %d, %Y' %}
{% assign post_date = page.date | date: '%B %d, %Y' %}


<article itemscope itemtype="http://schema.org/BlogPosting">
  
  {% if today_date >= post_date %}
  
  <!-- If today's date is greater than or equal
  to the blog post date, show the article -->

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.lead }}</p>
  </header>
  
  {{ content }}
  
  {% else %}
  
  <!-- else, show coming soon -->
  
  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="lead">
      This article will be published on {{ page.date | date: '%F' }}.
      Please check back then to read it.
    </p>
  </header>
  
  {%- endif -%}
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us4.list-manage.com","uuid":"61cb867b
</article>